body, html {
    height: 100%;
}

body {
    font-family: Montserrat, "Roboto", serif;
    margin: 0;
    background: linear-gradient(#FFFFFF, #E1ECF4 25%);
    background-attachment: fixed;
    /*background: radial-gradient(100% 100% at 50% 0%, #FFFFFF 24.48%, #E1ECF4 100%);*/
}

.header {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.header, .container {
    max-width: 1000px;
    margin: auto;
}

.logo {
    width: 200px;
    display: flex;
    align-items: center;
}

.userMenu {
    display: flex;
    align-items: center;
    font-family: Montserrat, "Roboto", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container * {
    color: #001428;
}

.headerMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1000;
}

.companyName h1 {
    font-size: 42px;
    text-align: center;
}

.companyMetrics {
    display: flex;
}

.phases {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom:20px;
}

.phases a {
    /*text-decoration: none;*/
    color: white;
}

.phaseHeader {
    background-color: white;
    padding: 20px 40px;
}

.phaseSelector {
    display: flex;
    justify-content: space-between;
}

.phaseLink a {
    font-weight: 600;
    font-size: 10px;
}

.phaseHeadline {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phaseTitle h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
}

.companySuccessRate {
    font-weight: 600;
    font-size: 16px;
}

.phase:last-child {
    margin-right: 0;
}

.phase:hover {
    cursor: pointer;
}

.phaseContainer {
    width: 100%;
}

.phaseContainer h1 {
    text-align: center;
}

.phaseMotivation {
    text-align: center;
}

.phaseStepContainer {
    background-color: white;
    margin-bottom: 20px
}

.phaseStepContainer > div {
    padding: 20px
}

.phaseStepContainer > div > h3{
    margin-top: 0;
}

.bestPracticeContainer {
    background-color: #F7FAFC;
}

.bestPracticeLink {
    margin-top: 10px;
}

.phaseStepContainer:last-child {
    margin-bottom: 100px;
}